/* Add CSS Styling */
p {
 background-color: pink;
 font-family: "Verdana", "DejaVu Sans", "sans-serif";
}

.cool-class {
 font-size: 26px;
}

#num2 {
 color: blue;
 font-size: 36px;
}

#num4 {
 background-color: green;
 font-size: 24px;
 font-weight: bold;
}
